node_modules
.next
out

# Environment variables
.env
.env.local
.env.production.local

# Database
*.db
*.db-journal
prisma/migrations

# Generated
/src/generated/prisma

# Vercel
.vercel

# IDE
.vscode
.idea
cookies.txt

.vercel
nul
tsconfig.tsbuildinfo
